<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.collabcreation.statussaver">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.StoryActivity"
            android:excludeFromRecents="true"
            android:label="Download Story"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.UrlReceiverActivity"
            android:excludeFromRecents="true"
            android:label="Download Posts"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admobAppId" />

        <activity android:name=".Activity.InstaStory" />
        <activity android:name=".Activity.InstagramOfficalLoginActivity" />
        <activity
            android:name=".Activity.YoutubeActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".Activity.InstaSliderActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".Activity.InstaProfileActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.Transparent" />

        <service
            android:name=".Service.OverlappService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".Activity.DirectMessage"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.BusinessWhatsapp"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.GBWhatsapp"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.SavedActivity"
            android:parentActivityName=".Activity.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.GBSavedActivity"
            android:parentActivityName=".Activity.GBWhatsapp"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.BWSavedActivity"
            android:parentActivityName=".Activity.BusinessWhatsapp"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.Splash_screen"
            android:theme="@style/fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.SettingsActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver android:name=".Receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>